<div id='about'>
  <h4><small>About Grizzly Feed</small></h4>
  <div>
    <h2 class="text-center">Grizzly Feed provides a simple, customizable app for accessing your favorite news and entertainment sources across the web.</h2>

    <ul class='row'>
      <li class='col-sm-4'>
        <div>
          <h4 class='text-center lead'>News, blogs, social networks, it's all here.</h4>
          <div class="panel panel-default">
            <div class="panel-body">
              <p>
              Grizzly Feed provides easy access to your favorite sources for news, information and entertainment. Quickly search and subscribe to the sites you love. And if you don't find what you're looking for, you can easily enter the URL of the RSS, Atom or XML feed of the site you want and we'll subscribe you automatically.
              </p>
            </div>
          </div>
        </li>

        <li class='col-sm-4'>
          <h4 class='text-center lead'>Customize the look and layout of your feeds.</h4>
          <div class="panel panel-default">
            <div class="panel-body">
              <p>
              Your feed reading experience is fully customizable! Drag and drop feeds to change the order in which they appear, switch layouts, select how many entries appear for each feed, and even change up the coloring of the whole site.
              </p> 
            </div>
          </div>
        </li>

        <li class='col-sm-4'>
          <h4 class='text-center lead'>Something wrong or missing? Send your feedback!</h4>
          <div class="panel panel-default">
            <div class="panel-body">
              <p>
              Sometimes things break. Sometimes things don't work as you expect them. Sometimes you just want more! If you ever experience a problem, think of a cool new feature you'd love to have, or just want to say hi, <a href='<%= feedback_path %>'>drop us a line</a> and We'll do our best to address your feedback as quickly as possible.
              </p>
            </div>
          </div>
        </li>
      </ul>

    <%= render partial: 'generals/donate' %>
  </div>
</div>