<div id='donate' class='row'>
  <div class='col-sm-10 col-sm-offset-1'>
    <h2 class='text-center'>Support Grizzly Feed!</h2>
    <h4 class='text-center lead'> We like that you use our product and we hope that you enjoy using it! Help keep this Grizzly going by supporting us.</h4>
    <div class="panel panel-default">
      <div class="panel-body">
        <img src='/assets/paypal_logo.jpg' id='paypal_logo' />
        <div class='payments'>
          <a class='btn btn-lg btn-success' href='https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=RBCQ9M4PXU28Q' target='_blank'> 
          $10
          </a>
          <a class='btn btn-lg btn-success' href='https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=EVCSD5RKXDP46' target='_blank'> 
          $5
          </a>
          <a class='btn btn-lg btn-success' href='https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=Y6EF6YHEJQ42W' target='_blank'> 
          $2
          </a>
        </div>
      </div>
    </div>
  </div>
</div>