<% if object.errors.any? %>
  <div class="alert alert-danger alert-dismissable col-sm-6 col-xs-8 col-sm-offset-3">
    The form contains <%= pluralize(object.errors.count, "error") %>.
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <ul>
      <% object.errors.full_messages.each do |msg| %>
        <li> <%= msg %> </li>
      <% end %>
    </ul>
  </div>
<% end %>